* {
  padding: 0px;
  margin: 0px;
}

.headerComp {
  /* background-color: yellow; */
  height: 70;
  width: "100%";
  border-bottom-style: inset;
  border-bottom-color: black;
  border-bottom-width: 0.5px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.leftNav {
  width: 15%;
  height: 100%;
  /* background-color: yellow; */
  border-right-color: black;
  border-right-style: inset;
  border-right-width: 0.5px;
}

.dropdown {
  position: relative;
}

.menu {
  position: absolute;

  list-style-type: none;
  margin: 5px 0;
  padding: 0;

  border: 1px solid grey;
  width: 150px;
}

.menu > li {
  margin: 0;

  background-color: white;
}

.menu > li:hover {
  background-color: lightgray;
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

/*** Drop down Style ****/

.Dropdown-root {
  position: relative;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
  transition: all 200ms ease;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: " ";
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}

/****** Date picker ****/

.react-datepicker__input-container input {
  width: 100%;
}

.react-datepicker-wrapper {
  width: 100%;
  height: 35px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.react-datepicker__input-container {
  height: 35px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.react-datepicker__input-container input {
  height: 35px;
  width: 100%;
  padding-left: 5px;
  font-size: 15px;
}
